
$colorwhite1:white;
$colorgreen1:green;
$tloglowne:url(../img/header-background.jpg);
$zdjecie1:url(../img/portfolio1.jpg);
$zdjecie2:url(../img/portfolio2.jpg);
$zdjecie3:url(../img/portfolio3.jpg);